[Desktop Entry]
Type=Application
Exec=/usr/bin/caffeine
Icon=/usr/share/caffeine/cupempty.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Caffeine
Comment=Toggle to easily prevent sleep mode
Keywords=screensaver,sleep,awake
OnlyShowIn=GNOME;Unity;
StartupNotify=false
AutostartCondition=GNOME3 unless-session gnome